*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #14181C;
  color: white;


}
a{
  color: white;
}
a.active{
  color: orange;
}